@model IEnumerable<Inventra.Data.Entities.InventraUser>
@using Inventra.Controllers
@using Microsoft.AspNetCore.Identity
@inject UserManager<Inventra.Data.Entities.InventraUser> userManager

<h2>Управление на достъпа</h2>

<table class="table">
    <thead>
        <tr>
            <th>Потребител</th>
            <th>Действия (Дай роля)</th>
            <th>Current Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <form asp-action="AssignRole" method="post" style="display:inline;">
                        <input type="hidden" name="userId" value="@user.Id" />
                        
                        <button name="roleName" value="Administrator" class="btn btn-sm btn-success">Admin</button>
                        <button name="roleName" value="InventoryManager" class="btn btn-sm btn-primary">Inventory</button>
                        <button name="roleName" value="OrderManager" class="btn btn-sm btn-success">Orders</button>
                    </form>
                    <form asp-action="DeleteUser" method="post" style="display:inline">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
                <td>
                    @if (string.Join(',', await userManager.GetRolesAsync(user)).Length == 0)
                    {
                        <strong>Not Authorized</strong>
                    }
                    else
                    {
                        @string.Join(',', await userManager.GetRolesAsync(user));
                    }
                </td>
            </tr>
        }
    </tbody>
</table>